<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auther/delete/<%=ele._id%>" method="post" >
        title: <input type="text" name="title" id="" value="<%=ele.title%>" readonly><br>
        pic:<input type="file" name="pic" value="<%=ele.pic%>" readonly><br>
        desc: <textarea name="desc" id="" cols="30" rows="10" readonly><%=ele.desc%></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>